.DS_Store
.env
.env.*private
_*/
matrix/*
chat/server/docker-compose.yml
chat/server/element-config.json
chat/server/files/
cloud/docker-compose.yml
cloud/config.php
ingress/docker-compose.yml
ingress/traefik.yml
ingress/dynamic.yml
ingress/prometheus.yml
ingress/alertmanager.yml
mail/docker-compose.yml
auth/docker-compose.yml
tmp.*
data*
